Ådne Børresen <aadnebor@stud.ntnu.no> adneborresen <71438072+adneborresen@users.noreply.github.com>
Marcus Larsen-Frivoll <marcula@stud.ntnu.no>
Fredrik Jakob Talleraas Emblem <fjemblem@stud.ntnu.no>
Yao Bin David Zhang <ybzhang@stud.ntnu.no>
Alexandra Hügli <lexh1705@gmail.com> Alexandra Hügli <anhugli@stud.ntnu.no>
Hannah Einmo-Hoff <hannaein@stud.ntnu.no> hannaein <hannaein@stud.ntnu.no>
Peder Undheim <peder.undheim@ntnu.no> pederu <pederu@ntnu.no>
